
<div>
    <div class="row user-row">
        <h4><a class="text-center" href="/users/<%=@user.id%>"><p>@<%= @user.username %></p></a></h4>
        <p class="text-center" >Read <%= @readBooks.count %> books </p> 
        <p class="text-center"> <%= pluralize(@user.followers.count, "Follower")%> | Following <%= @user.all_following.count%></p>
    </div>  

    <h3 class="page-header">Read Books</h3>
    <div class="row">
        <%= render partial: 'shared/book_list', locals: {books: @readBooks} %>
    </div>
    
    <h3 class="page-header">Queued Books</h3>
    <div class="row">
        <%= render partial: 'shared/book_list', locals: {books: @queuedBooks} %>
    </div>
</div>

