<% @activityUser  = User.find(activity.user_id) %>
<% @activityBook  = Book.find(activity.book) %>

<div class="col-sm-4">
    <%= image_tag @activityBook.image_url, class: "book-show center-block" %> 
</div>
<div class="col-sm-8">
      <h4><a href="/books/<%=@activityBook.id%>"><%= @activityBook.title %></a></h4>
      <p>By <a href="https://book-keeper-jamesqquick.c9users.io/books/new/?q=<%=@activityBook.author%>"><%= @activityBook.author %></a></p>

      <p><%=activity.list_type %> by <a href="users/<%= @activityUser.id %>"><%= @activityUser.username %></a> <%= time_ago_in_words(activity.updated_at) %> ago</p>
</div>




