<div class="row">
  <div class="col-md-10 col-md-offset-1">
      <div class="section search-section">
          <% if !@searchBooks.nil? %>
              <% @searchBooks.each do |searchBook| %>
                  <div class="row search-book">
                      <div class="col-sm-4">
                          <%= image_tag searchBook.image_link, class: "book-show center-block" %> 
                          <a href="#book-<%=searchBook.isbn%>"></a>
                      </div>
                      <div class="col-sm-8">
                          <h4><%= searchBook.title %></h4>
                          <p>By <%= searchBook.authors_array.first %></p>
                          <p><%= truncate(searchBook.description, length:300)   %></p>
                          <%= render partial: 'shared/new_book_options', locals: {book: searchBook} %>
                      </div>
                  </div>
              <% end %> <!-- end iterate through search books -->
          <% end %><!-- searchBooks exist-->
      </div><!-- end search-section -->
  </div>
</div>

